@font-face {
    font-family: 'HongLei';
    src: url('../Fonts/HongLeiXingShuJianTi.ttf') format('truetype');
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-screen-div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 120%;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
h1 {
    font-family: 'HongLei', serif;
    font-size: 60px;
    text-align: center;
}
.p1 {
    font-family: 'HongLei', serif;
    font-size: 100px;
    position: absolute;
    left: 560px;
    top: 30px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;">
    color: transparent;
}
.p2 {
    font-family: 'HongLei', serif;
    font-size: 60px;
    position: absolute;
    top: 100px;
    left: 750px;
    color: darkgray;
}
.b1 {
    font-family: 'HongLei', serif;
    font-size: 60px;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 300px;
    left: 950px;
}
.i1 {
    font-family: 'HongLei', serif;
    font-size: 60px;
    height: 95px;
    width: 500px;
    position: absolute;
    top: 300px;
    left: 450px;
}
.d1 {
    width: 300px;
    height: 80px;
    background-color: white;
    border-radius: 80px;
    position: absolute;
    left: 50px;
    top: 30px;
}
.d2 {
    width: 70px;
    height: 70px;
    background-color: #99cccc;
    border-radius: 360px;
    position: absolute;
    left: 60px;
    top: 35px;
}
.img1 {
    height: 40px;
    width: 60px;
    position: absolute;
    left: 65px;
    top: 50px;
}
.p3 {
    font-family: 'HongLei', serif;
    font-size: 50px;
    position: absolute;
    top: 35px;
    left: 140px;
}







.d3 {
    width: 300px;
    height: 80px;
    background-color: white;
    border-radius: 80px;
    position: absolute;
    left: 50px;
    top: 130px;
}
.d4 {
    width: 70px;
    height: 70px;
    background-color: #99cccc;
    border-radius: 360px;
    position: absolute;
    left: 60px;
    top: 135px;
}
.img2 {
    height: 160px;
    width: 160px;
    position: absolute;
    left: 15px;
    top: 90px;
}
.p4 {
    font-family: 'HongLei', serif;
    font-size: 50px;
    position: absolute;
    top: 135px;
    left: 140px;
}


.b2 {
    font-family: 'HongLei', serif;
    font-size: 60px;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 450px;
    left: 950px;
}
.i2 {
    font-family: 'HongLei', serif;
    font-size: 60px;
    height: 95px;
    width: 495px;
    position: absolute;
    top: 450px;
    left: 450px;
}


.a1 {
    position: absolute;
    border-radius: 200px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    color: #3f5270;
    top: 600px;
    left: 43%
}
.a2 {
    position: absolute;
    border-radius: 200px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    color: #3f5270;
    top: 30px;
    right: 0.5%
}